/Materi_1/build/
/Hello/nbproject/private/
/Mobil/nbproject/private/
/Mobil/build/
/PBO_Praktik_2/nbproject/private/
/PBO_Praktik_2/build/
/TUGAS_ALIVOKTA/nbproject/private/
/MyVariable/nbproject/private/
/TUGAS_ALIVOKTA/build/
/Bahan_Materi_Ajar/nbproject/private/
/Bahan_Materi_Ajar/build/
