/Materi_1/build/
/Hello/nbproject/private/
/Mobil/nbproject/private/
/Mobil/build/
/PBO_Praktik_2/nbproject/private/
/PBO_Praktik_2/build/
/TUGAS_ALIVOKTA/nbproject/private/
/MyVariable/nbproject/private/
/TUGAS_ALIVOKTA/build/
/Bahan_Materi_Ajar/nbproject/private/
/Bahan_Materi_Ajar/build/
/ConnectionJDBC/nbproject/private/
/ConnectionJDBC/build/
/Latihan_1/nbproject/private/
/Latihan_2/nbproject/private/
/TUGAS_OKTA_PRAKTIKUM3/nbproject/private/
/TUGAS_OKTA_PRAKTIKUM3/build/
/KonversiSuhu/nbproject/private/
/TUGAS_ALIVOKTA_PRAKTIKUM4/nbproject/private/
/TUGAS_ALIVOKTA_PRAKTIKUM4/build/
/PenjualanDemo/nbproject/private/
/TUGAS_ALIVOKTA_PRAKTIKUM5/nbproject/private/
/TUGAS_ALIVOKTA_PRAKTIKUM5/build/
/Pewaris/nbproject/private/
/Pewarisan/nbproject/private/
/Pewarisan/build/
/.ProjectAkhir_PBO_Semester4/nbproject/private/
/.ProjectAkhir_PBO_Semester4/build
/Transportasi/build/
/GenericType_PBO/nbproject/private/
/ProblemSolving/nbproject/private/
/ProblemSolving/build/
/Telegram_Bot/nbproject/private/
/P_RPL/nbproject/private/
/P_RPL/build/
/Praktikum_8_OOP/nbproject/private/
/Praktikum_8_OOP/build/
/Gui/nbproject/private/
/Gui/build/
/Calculator/nbproject/private/
/Calculator/build/
/Praktikum_9/nbproject/private/
/Praktikum_9/build/
/Soal-Praktek-UTS/nbproject/private/
/Soal-Praktek-UTS/build/
/Praktikum_10/nbproject/private/
/Praktikum_10/build/
/database_penjualan/nbproject/private/
/database_penjualan/build/
/Siakad/nbproject/private/
/Siakad/build/
/database/nbproject/private/
/database/build/
/Praktikum_12B/nbproject/private/
/Praktikum_12B/build/
/DataBarang/nbproject/private/
/Project_PBO/nbproject/private/
/Project_PBO/build/
/iReports/nbproject/private/
/iReports/build/
/ireports/nbproject/private/
/test/nbproject/private/
/test/build/
/test/dist/
/javaJframe/nbproject/private/
/javaJframe/build/
/test1/nbproject/private/
/test1/build/
/javaTelegram/nbproject/private/
/javaTelegram/dist/
/javaTelegram/build/
/Project_Akhir/nbproject/private/
/Project_Akhir/build/
/PPKP2022JATENG/build/
/PPKP2022JATENG/nbproject/private/
/P_UAS/nbproject/private/
/P_UAS/build/
/UAS/nbproject/private/
/UAS/build/
/YogaTable/nbproject/private/
/YogaTable/build/
/netbeans8.2/nbproject/private/
/netbeans8.2/build/